/*** TRANSITIONS ***/
a, button, button:before, div, fieldset, figure, img, input, label, li, span, textarea {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

/*** MAIN ***/
::-moz-selection {
	background: #353535;
	color: #fc950a;
}
::-webkit-selection {
	background: #353535;
	color: #fc950a;
}
::selection {
	background: #353535;
	color: #fc950a;
}

* { /* apply a natural box layout model to all elements */
	padding: 0;
	margin: 0;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	background:url(../img/white_bed_sheet.png) 0 0 repeat scroll #f5f5f5;
	font-family:Open Sans, Segoe UI, Trebuchet MS, sans-serif;
}
#container {
	color: #323232;
	font-size: 100%;
	font-weight:100;
	width:600px;
	margin: 40px auto;
}
a:not(.imgLink) {
	color: #20A8DB;
	padding:2px 4px;
	text-decoration:none;
}
a:not(.imgLink):hover, a:not(.imgLink):focus, a:not(.imgLink):active {
	background-color:#20A8DB;
	color:#F0F0F0;
}

header h1 { text-align:center; }

h2, h3, h4 {
	font-family:'adelle_sbsemibold', 'Adelle-SemiBold', Helvetica, Myriad Pro, Segoe UI, sans-serif;
	font-weight:300;
}
h2 { border-bottom:1px solid #d6d6d6; font-size:2em; margin:0 0 15px; }
h3 { font-size:1.4em; }
h4 { font-size:1.05em; }

section { padding:30px 0; }

#navSection { position:relative; }
#mainNav { font-family:'adelle_sbsemibold', 'Adelle-SemiBold', Helvetica, Myriad Pro, Segoe UI, sans-serif; font-size:1em; font-variant:small-caps; font-weight:300; letter-spacing:1px; text-align:center; text-transform:lowercase; }
#mainNav li { border-right:1px solid #646464; display:inline; padding:0 0.5em; }
#mainNav li.active { opacity:0.65; font-size:1.1em; font-weight:300; }
#mainNav li:first-of-type { padding-left:0; }
#mainNav li:last-of-type { border-right:0; padding-right:0; }
#mainNav a .info { 
	color:#404040; 
	display:none; 
	font-family:Segoe UI; font-size:0.9em; font-variant:normal; font-weight:300; 
	position:absolute; top:0; left:0; 
	text-align:center; 
	width:100%; 
}
#mainNav a:hover .info, #mainNav a:focus .info, #mainNav a:active .info { display:block; }

.content code {
	background:#F9F9F9;
	border:1px solid #D6D6D6;
	/*border-radius:3px;*/
	font-family:Consolas, Monaco, Cuisine, monospace;
	font-size:0.9em;
	padding:3px 6px;
}
.content kbd {
	display: inline;
	display: inline-block;
	min-width: 1em;
	padding:3px 6px;
	font: normal .9em/1 Consolas, Monaco, Cuisine, "Lucida Grande", Lucida, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #D6D6D6;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	background: #F9F9F9;
	background: -moz-linear-gradient(top, rgb(230, 230, 230), rgb(255, 255, 255));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
	color:  rgb(50, 50, 50);
	text-shadow: 0 0 2px rgb(255, 255, 255);
	-moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgba(200, 200, 200, 0.2), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	-webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgba(200, 200, 200, 0.2), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgba(200, 200, 200, 0.2), 0 .1em 0 rgb(160, 160, 160), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}
kbd[title], .key[title] {
	cursor: help;
}
.content p { font-size:0.95em; line-height:1.7em; margin-bottom:1em; }
.content ul { list-style-position:outside; margin-left:1.15em; }


#changelog li { padding:0 0 0.5em; }
.changelogVersion { border-top:1px solid #fcfcfc; border-bottom:1px solid #E0E0E0; padding:2em 0; }
.changelogVersion:first-of-type { border-top:none; padding-top:0; }
.changelogVersion:last-of-type { border-bottom:none; padding-bottom:0; }
/*.changelogVersion.closed > ul { display:none; }*/ /* only via JS */
#changelog .toggle { 
	background: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	color: #888;
	cursor: pointer;
	display: none; /* becomes inline-block via JS */
	font-size: 9px;
	margin:0 1em 0 0;
	padding: 3px 5px;
	position: relative;
	text-align: center;
	top:-5px;
}
#changelog .toggle:hover, #changelog .toggle:focus { 
	border:1px solid #19A7D0;
	color:#20A8DB;
/*	border:1px solid #c6c6c6;
	color:#444; */
}
#changelog .toggle:active { 
	border:1px solid #19A7D0;
	color:#20A8DB;
}
#changelog h3 { display:inline-block; }

/* .changelogVersion.closed ul { display:none; } */


footer { border-top:1px solid #D6D6D6; font-size:0.7em; margin-top:3em; padding:1em 0; }
footer span { padding-left:0.5em; }
#footerNav li { border-right:1px solid #646464; display:inline; padding:0 0.5em; }
#footerNav li:last-of-type { border-right:0; padding-right:0; }
#footerNav li:first-of-type { padding-left:0; }


