#changelog li { padding-bottom:0.5em; }
.changelogVersion { border-top:1px solid #fcfcfc; border-bottom:1px solid #E0E0E0; padding:2em 0; }
.changelogVersion:first-of-type { border-top:none; padding-top:0; }
.changelogVersion:last-of-type { border-bottom:none; padding-bottom:0; }
/*.changelogVersion.closed > ul { display:none; }*/ /* only via JS */
#changelog .toggle { 
	background: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	color: #888;
	cursor: pointer;
	display: none; /* becomes inline-block via JS */
	font-size: 9px;
	margin:0 1em 0 0;
	padding: 3px 5px;
	position: relative;
	text-align: center;
	top:-5px;
}
#changelog .toggle:hover, #changelog .toggle:focus { 
	border:1px solid #19A7D0;
	color:#20A8DB;
/*	border:1px solid #c6c6c6;
	color:#444; */
}
#changelog .toggle:active { 
	border:1px solid #19A7D0;
	color:#20A8DB;
}

.changelogVersion ul { margin-left:0; padding-left:0; }
.changelogVersion ul li { list-style-position:outside; margin-left:1.25em; }

.changelogVersion dl { padding-bottom:1em; vertical-align:top; } 
.changelogVersion dt { cursor:default; display:inline-block; margin-top:10px; position:relative; top:2px; vertical-align:top; width:0; }
.changelogVersion dt.new, .changelogVersion dt.fix, .changelogVersion dt.bug, .changelogVersion dt.change { 
	border-radius:1px;
	color:#F0F0F0;
	font-size:12px;
	height:20px;
	line-height:14px;
	margin-right:1%;
	padding:3px 2px;
	text-align:center;
	text-transform:uppercase;
	width:9%;
}
.changelogVersion dt.new    { background-color:#2c9dc6; }
.changelogVersion dt.fix    { background-color:#42c62c; }
.changelogVersion dt.bug    { background-color:#b82b0a; }
.changelogVersion dt.change { background-color:#ffa800; color:white; }
.changelogVersion dd { border-top:1px dashed #ccc; display:inline-block;  padding:10px 0; width:88%; }
.changelogVersion dd:first-of-type { border-top:none;}

/* IMAGES *
.changelogVersion ul li.new    { list-style-image:url(../img/changelogIcons_01.png); margin-left:44px; }
.changelogVersion ul li.fix    { list-style-image:url(../img/changelogIcons_02.png); margin-left:44px; }
.changelogVersion ul li.bug    { list-style-image:url(../img/changelogIcons_03.png); margin-left:44px; }
.changelogVersion ul li.change { list-style-image:url(../img/changelogIcons_04.png); margin-left:44px; }
/**/
#changelog h3 { display:inline-block; }

/* .changelogVersion.closed ul { display:none; } */
