section { width:350px; margin:0 auto; }
section .col  { float:left; margin:0 1em; text-align:center; width:128px; }
.imgLink { display:block; }

#language { border-bottom:1px solid #E0E0E0; }
#language p { font-style:italic; margin:0 0 2em; text-align:center; }
#language .lang div { text-align:center; }

#downloads { border-top:1px solid white; }
#downloads a { text-align:center; }
#downloads .col .iconLink {
	color:#323232;
	display:inline;
	font-size:2em;
}
