#manualNav { display:none; }

.emphasize1 { font-weight:600; }

.hudIcon {
	background-image:url("../img/hudIcons.png");
	background-repeat:no-repeat;
	display:inline-block;
	height:16px;
	margin:0 3px;
	position:relative;
	top:1px;
	width:16px;
}
.hudIcon.inline { top:3px; }
#closeHud.hudIcon { background-position:0 -64px; }
#openCourse.hudIcon { background-position:0 -80px; }
#addCourse.hudIcon { background-position:0 0; }
#deleteCourse.hudIcon { background-position:0 -48px; }
#plus.hudIcon { background-position:0 -96px; }
#minus.hudIcon { background-position:0 -112px; }

.buttonInfo {
	background:#555;
	border:1px solid #404040;
	color:#f0f0f0;
	border-radius:1px;
	padding:6px 8px;
}
dl { margin-bottom:20px; }
dt, dd {
	float:left;
	font-size:0.9em;
}
dt { width: 30%; }

#manualTabs > div li {
	margin-bottom:20px;
}

figure { margin-bottom:1em; }
img.infoImg {
	border:1px solid #d6d6d6;
	padding:5px;
	width:100%;
	max-width:100%;
}
figcaption {
	font-family:'ACaslonPro-Italic', Caslon, 'Caslon Pro', Garamond, serif;
	font-style:italic;
}
