

#manual h1 { position:relative; }
#manualVersion {
	font-family:DINPro, DIN Pro, DIN Next, Source Sans Pro, Open Sans, Segoe UI, Trebuchet MS, sans-serif;
	font-size:12pt;
	font-style:italic;
	position:absolute;
	right:0;
	bottom:7px;
}

article:target { display:block; }
article:not(:target) { display:none; }





.buttonInfo {
	background: rgba(255,255,255,0.15);
	border-top: 1px solid rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding: 0.5em 0.8em;
}
dl { margin-bottom:20px; }
dt, dd {
	float:left;
	font-size:0.9em;
}
dt { width: 30%; }

.manualSection .manualSubSection {
	border-bottom:2px dashed #BBB;
	padding:1em 0;
}
.manualSection .manualSubSection:first-of-type { padding-top:0; }
.manualSection .manualSubSection:last-of-type { border-bottom:none; padding-bottom:0; }

/* .manualSection ol li { 
	margin-top:20px; 
	margin-bottom:20px; 
} */

.manualSection > ul, .manualSubSection > ul {
	margin:0;
	list-style:none;
}
.manualSection > ul > li, .manualSection > ol > li, .manualSubSection > ul > li {
	background:rgba(0,0,0,0.35);
	border-top:1px solid rgba(255,255,255,0.15);
	border-right:1px solid rgba(0,0,0,0.4);
	border-bottom:1px solid rgba(0,0,0,0.4);
	padding:0 0 0.5em;
	margin: 0.8em 0;
}
.manualSection > ul > li:first-of-type, .manualSection > ol > li:first-of-type, .manualSubSection > ul > li:first-of-type { margin-top:0; }
.manualSection > ul > li:last-of-type, .manualSection > ol > li:last-of-type, .manualSubSection > ul > li:last-of-type { margin-bottom:0; }
.manualSection > ul > li > h4 {
	margin-bottom:0.5em;
}
.manualSection > ul > li > h4, .manualSubSection > ul > li > h4 {
	margin-top:0;
	padding:0.5em 0.8em;
}

.manualSection > ul > li > span, .manualSubSection > ul > li > span, 
.manualSection > ul > li > p, .manualSection > ol > li > p, .manualSubSection > ul > li > p, 
.manualSection > ul > li > dl, .manualSubSection > ul > li > dl,
.manualSection > ul > li > figure, .manualSection > ol > li > figure, .manualSubSection > ul > li > figure {
	margin:0.5em 0.8em;
}
.manualSection > ol > li:before {
	border-top:none;
	left:0;
	top:0;
}
.manualSection > ol > li {
	padding-top:1.3em;
}
.manualSection > ul > li > ul, .manualSection > ol > li > ul, .manualSubSection > ul > li > ul, 
.manualSection > ul > li > ol, .manualSubSection > ul > li > ol {
	margin:0.5em 1.8em;
}
p.info {
	background:rgba(255,255,255,0.1);
	padding:0.5em 0.8em !important;
	font-style:italic;
}
.manualSection > p.info {
	margin-bottom:1em;
}

#driveModes > ol > li { margin-top:1em; margin-bottom:1em; padding-top: 1.8em; padding-left:0.8em; }
#driveModes [class^="icon-"] { font-size: 1.2em; }
h4 [class^="icon-"] { font-size:1.1em !important; margin-right:0.7em !important; }

figure { margin-top:1em; margin-bottom:1em; }
figcaption {
	font-family:'ACaslonPro-Italic', Caslon, 'Caslon Pro', Garamond, serif;
	font-style:italic;
}

.manualSection h3, .manualSection h4 { display:inline-block; }


/* TODO: image lightbox: apply -webkit-filter on #container: blur(0.2em) grayscale(50%) brightness(50%) */


/* MEDIA QUERIES */
@media screen and (max-width: 450px) {
	#manualVersion { display:none; }
}