.project
*~
*.gitattributes
*.gitignore
*.editorconfig
*.idea
*.iml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# horoman
.builtpath

# Satis
TurnRadiusCalculation.lua
TriangleCalculation.lua

# Jakob
*.WinMerge