@font-face {
		font-family: 'ACaslonPro-Regular';
		src: url('acaslonproregular0.eot');
		src: url('acaslonproregular0.eot?#iefix') format('embedded-opentype'),
				 url('acaslonproregular0.woff') format('woff'),
				 url('acaslonproregular0.ttf') format('truetype'),
				 url('acaslonproregular0.svg#acaslonproregular0') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'ACaslonPro-Italic';
		src: url('acaslonproitalic0.eot');
		src: url('acaslonproitalic0.eot?#iefix') format('embedded-opentype'),
				 url('acaslonproitalic0.woff') format('woff'),
				 url('acaslonproitalic0.ttf') format('truetype'),
				 url('acaslonproitalic0.svg#acaslonproitalic0') format('svg');
		font-weight: normal;
		font-style: normal;
}
