@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-code:before, .icon-download:before, .icon-home:before, .icon-users:before, .icon-minus:before, .icon-plus:before, .icon-link:before, .icon-cogs:before, .icon-cog:before, .icon-info:before, .icon-loop:before, .icon-plus-alt:before, .icon-minus-alt:before, .icon-minus-2:before, .icon-plus-2:before, .icon-arrow-up-alt1:before, .icon-arrow-down-alt1:before, .icon-undo:before, .icon-plus-sign:before, .icon-minus-sign:before, .icon-remove-sign:before, .icon-refresh:before, .icon-github:before, .icon-in:before, .icon-disk:before, .icon-speed-gauge:before, .icon-arrow_right:before, .icon-arrow_up:before, .icon-arrow_left:before, .icon-arrow_down:before, .icon-trash:before, .icon-folder_add:before, .icon-folder:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-code:before {
	content: "\e000";
}
.icon-download:before {
	content: "\e001";
}
.icon-home:before {
	content: "\e002";
}
.icon-users:before {
	content: "\e003";
}
.icon-minus:before {
	content: "\e004";
}
.icon-plus:before {
	content: "\e005";
}
.icon-link:before {
	content: "\e006";
}
.icon-cogs:before {
	content: "\e007";
}
.icon-cog:before {
	content: "\e008";
}
.icon-info:before {
	content: "\e009";
}
.icon-loop:before {
	content: "\e00a";
}
.icon-plus-alt:before {
	content: "\e00b";
}
.icon-minus-alt:before {
	content: "\e00c";
}
.icon-minus-2:before {
	content: "\e00d";
}
.icon-plus-2:before {
	content: "\e00e";
}
.icon-arrow-up-alt1:before {
	content: "\e00f";
}
.icon-arrow-down-alt1:before {
	content: "\e010";
}
.icon-undo:before {
	content: "\f0e2";
}
.icon-plus-sign:before {
	content: "\f055";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-github:before {
	content: "\e011";
}
.icon-in:before {
	content: "\e012";
}
.icon-disk:before {
	content: "\e013";
}
.icon-speed-gauge:before {
	content: "\e014";
}
.icon-arrow_right:before {
	content: "\e015";
}
.icon-arrow_up:before {
	content: "\e016";
}
.icon-arrow_left:before {
	content: "\e017";
}
.icon-arrow_down:before {
	content: "\e018";
}
.icon-trash:before {
	content: "\e01b";
}
.icon-folder_add:before {
	content: "\e019";
}
.icon-folder:before {
	content: "\e01a";
}
